.hidden{
  display: none;
}

.visible{
  display: contents;
}

.appointment-layout {
  border-bottom: 1px dotted gray;
}

.appointment-list {
  height: 400px;
}

@media screen and (max-width: 440px){
  .search-bar{
    width: 150px;
  }
}

@media screen and (max-width: 380px){
  .search-bar{
    width: 120px;
  }
}